:root {
  --Color-Danger-800: rgba(131, 16, 41, 1);
  --Color-Danger-900: rgba(108, 9, 39, 1);
  --Color-Primary-100: rgba(230, 248, 230, 1);
  --Color-Primary-200: rgba(205, 242, 211, 1);
  --Color-Primary-300: rgba(167, 216, 179, 1);
  --Color-Primary-400: rgba(127, 177, 145, 1);
  --Color-Primary-500: rgba(79, 126, 100, 1);
  --Color-Primary-600: rgba(57, 108, 85, 1);
  --Color-Primary-700: rgba(39, 90, 72, 1);
  --Color-Primary-800: rgba(25, 73, 60, 1);
  --Color-Primary-900: rgba(15, 60, 53, 1);
  --Color-Success-100: rgba(205, 251, 210, 1);
  --Color-Success-200: rgba(157, 248, 175, 1);
  --Color-Success-300: rgba(105, 234, 144, 1);
  --Color-Success-400: rgba(67, 214, 126, 1);
  --Color-Success-500: rgba(16, 188, 102, 1);
  --Color-Success-600: rgba(11, 161, 101, 1);
  --Color-Success-700: rgba(8, 135, 97, 1);
  --Color-Success-800: rgba(5, 109, 88, 1);
  --Color-Success-900: rgba(3, 90, 81, 1);
  --Color-Info-100: rgba(206, 234, 253, 1);
  --Color-Info-200: rgba(159, 210, 251, 1);
  --Color-Info-300: rgba(110, 178, 244, 1);
  --Color-Info-400: rgba(73, 148, 234, 1);
  --Color-Info-500: rgba(19, 104, 221, 1);
  --Color-Info-600: rgba(13, 80, 190, 1);
  --Color-Info-700: rgba(9, 59, 159, 1);
  --Color-Info-800: rgba(6, 41, 128, 1);
  --Color-Info-900: rgba(3, 29, 106, 1);
  --Color-Warning-100: rgba(252, 245, 201, 1);
  --Color-Warning-200: rgba(249, 232, 149, 1);
  --Color-Warning-300: rgba(239, 211, 95, 1);
  --Color-Warning-400: rgba(224, 186, 56, 1);
  --Color-Warning-500: rgba(204, 153, 0, 1);
  --Color-Warning-600: rgba(175, 127, 0, 1);
  --Color-Warning-700: rgba(146, 102, 0, 1);
  --Color-Warning-800: rgba(118, 79, 0, 1);
  --Color-Warning-900: rgba(97, 63, 0, 1);
  --Color-Danger-100: rgba(253, 229, 214, 1);
  --Color-Danger-200: rgba(252, 196, 174, 1);
  --Color-Danger-300: rgba(246, 155, 132, 1);
  --Color-Danger-400: rgba(237, 116, 100, 1);
  --Color-Danger-500: rgba(226, 58, 52, 1);
  --Color-Danger-600: rgba(194, 38, 45, 1);
  --Color-Danger-700: rgba(162, 26, 44, 1);
  --Background: rgba(252, 252, 252, 1);


  --gray-1: #333333;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


