@import "./base.css";
@import "./ShoelaceChanger.css";
@import "./typography.css";
@import "Login.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: var(--Background);
    font-family: 'Inter', sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 48%;
}
